<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login.com </title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("https://cdn.pixabay.com/photo/2024/11/02/19/08/bird-9169969_1280.jpg");
            background-repeat: no-repeat;
            background-size: 100% 98%;
        }  
        input{
            display:block;
            margin: auto;
            padding: 10px 20px;
            border-radius: 10px;
            margin-top: 10px;
            background-color: rgba(255, 255, 255, 0.459);
            color: black;
            outline: none;
            box-shadow: 0 0 30px rgba(248, 247, 247, 0.5);
        }     
        form{
        background-color: rgba(245, 245, 245, 0.445);
        text-align: center;
        margin-top:15px ;
        height: 280px;
        width: 300px;
        border-radius: 30px;
        }
        button{
            width:220px;
            height: 30px;
            border-radius:20px ;
        }
        div{
            display: inline-block;
            color: whitesmoke;
            margin: 10px 34px; 
        }
    </style>
</head>
<body>
    <form action="/login" method="post" autocomplete="off"">
        <input type="text" name="name" placeholder="Enter Name" required><br>
        <input type="email" name="email" placeholder="Enter Email" required><br>
        <input type="password" name="password" placeholder="Enter Password" required><br>
        <div>forgot password?</div>
        <div>sing up</div>
        <button type="submit">Login</button>
    </form>
</body>
</html>